.rounded-pane {
    .root {
        -fx-font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
        -fx-background-color: rgba(232, 240, 248, 0.4);
        -fx-border-color: rgba(27, 175, 129, 0.4);
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-width: 2;
    }
    /* Label'lar */
    .label {
        -fx-font-size: 18px;
        -fx-text-fill: black;
    }

    /* Başlıklar */
    .label.header {
        -fx-font-size: 20px;
        -fx-font-weight: bold;
        -fx-text-fill: #34495e;
    }

    .button {
        -fx-background-color: #1f2837;
        -fx-font-family: "Arial";
        -fx-font-size: 17px;
        -fx-text-fill: white;
        -fx-background-radius: 12;

        -fx-cursor: hand;
        -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
        -fx-border-color: transparent;
        -fx-border-radius: 12;
        -fx-transition: all 0.3s ease;
    }

    .button:hover {
        -fx-background-color: #4dcea3;
        -fx-text-fill: white;
        -fx-cursor: hand;

    }


    /* TextField ve ChoiceBox */
    .date-picker, .choice-box {
        -fx-background-radius: 8;
        -fx-border-radius: 8;
        -fx-border-color: transparent;
        -fx-padding: 6;
        -fx-font-size: 14px;
        -fx-background-color: transparent;
    }
    .text-field {
    -fx-background-radius: 8;
            -fx-border-radius: 8;
            -fx-border-color: transparent;
            -fx-padding: 6;
            -fx-font-size: 17px;
            -fx-background-color: transparent;
    }

    /* RadioButton */
    .radio-button {
        -fx-font-size: 14px;
        -fx-text-fill: #2c3e50;
    }

    /* TreeView */
    .tree-view {
        -fx-background-color: white;
        -fx-border-color: #016454;
        -fx-border-radius: 8;
        -fx-background-radius: 8;
        -fx-padding: 6;
        -fx-font-size: 16px;
    }

    .tree-cell {
        -fx-padding: 4 8 4 8;
        -fx-font-size: 16px;
    }

    /* ListView */
    .list-view {
        -fx-background-color: transparent;
        -fx-border-color: #1f2837;
        -fx-border-radius: 8;
        -fx-background-radius: 8;
        -fx-padding: 6;
        -fx-font-size: 14px;
    }

    .list-cell {
        -fx-padding: 8;
        -fx-font-size: 15px;
        -fx-background-color: transparent;
        -fx-border-color: transparent;
        -fx-text-fill: #2c3e50;
    }

    .list-cell:filled:hover {
        -fx-background-color: #4dcea3;
        -fx-text-fill: white;
        -fx-cursor: hand;
    }

    .list-cell:filled:selected {
        -fx-background-color: #1f2837;
        -fx-text-fill: white;
        -fx-cursor: hand;
    }
}
